@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

:root {

  --color-500: #d0d0d0;
  --color-400: #e1e1e1;
  --color-300: #ececec;
  --color-200: #f6f6f6;
  --color-100: #ffffff;


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* global css */
h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-weight: 700;
  font-size: 18px;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  padding: 6px 10px;
  border: none;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  transition-duration: 0.5s;
}

/* input[type=text],
input[type=password] {
    width: 100%;
    padding: 5px 10px;
    outline: none;
    border: none;
    background-color: #ffffff00;
    border-bottom: 3px solid #b600e4;
}

input[type=text]:focus,
input[type=password]:focus {
    border-bottom: 3px solid #8500a7;
}

input[type=checkbox] {
    width: auto;
    height: auto;
} */

/* global css */

.body3 {
  padding-top: 56px;
  background-color: #f5f5f5;
}

.sidebar {

  position: fixed;
  top: 20px;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #0893f0;
  /* Blue color */
  color: #fff;
  /* White text */
}

.sidebar a {
  color: #000000;
  /* White text for links */
}

.main {
  margin-top: 20px;
}

.navbar {
  background-color: #3498db;
  /* Blue color for the navbar */
}

.navbar-dark .navbar-toggler-icon {
  background-color: #fff;
  /* White color for the navbar toggler icon */
}

.body2 {
  background-color: #f8f9fa;
  padding: 20px;
}

.container {
  margin-top: 50px;
  perspective: 1000px;
}

.form-container {
  transform-style: preserve-3d;
  transform: rotateY(20deg);
  transition: transform 0.5s;
}

.form-group {
  margin-bottom: 15px;
}



.body3 {
  background-image: url('images/');
  color: #020000;
  padding: 60px;
}

.container {
  margin-top: 50px;
}

#signInForm {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.signInForm {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.icon {
  width: 60px;
  height:35px;


}

.gif {
  width: 60px;
  height: 60px;
  background-color: none;
  border-radius: 20px;
}


.popup {
  /* Set initial styles */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.popup.active {
  /* Styles when the popup is active */
  opacity: 1;
  visibility: visible;
}

.btn-primary {
  background-color: #0e97f3;
  border-color: #f5f1f1;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
  background-color: #094aac;
  border-color: #172be2;
}

.signup-link {
  color: #000000;
  text-decoration: underline;
}

.signup-link:hover {
  color: #000000;
}

/* dashboard - create task */
#create-task-body {
  background: var(--color-200);
}

.task-label-text {
  font-size: 22px;
  margin: 0;
}

#create-task-body input[type=text],
#create-task-body input[type=password] {
  width: 100%;
  padding: 5px 10px;
  outline: none;
  border: none;
  background-color: #7b79e7;
  border-bottom: 3px solid #b600e4;
}

#create-task-body input[type=text]:focus,
#create-task-body input[type=password]:focus {
  border-bottom: 3px solid #8500a7;
}

#create-task-body input[type=checkbox] {
  width: auto;
  height: auto;
}

/* dashboard - create task */


@media (max-width:769px) {}

@media (max-width:576px) {

  /* global css */
  h1 {
    font-size: 60px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-weight: 700;
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  button {
    padding: 4px 8px;
  }

  /* global css */

}